<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Godiva.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E6C197E1C5139460018301A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E6C198C1C5139690018301A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6B095001C0BB4B300C1DEC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
